/*Global*/



body {
	margin: 0px;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 3.125rem;
}

h3 {
	font-size: 1.875rem;
}

p {
	font-size: 1.25rem;
}


/*Nav*/


nav {
	display: flex;
	position: fixed;
	z-index: 1;
	background-color: white;
	top: 0;
	width: 100%;
	justify-content: space-between;
	background-color: dimgray;
}

nav a {
	color: white;
	text-decoration: none;
}

nav a:hover {
	color: lightgray;
	text-decoration: underline;
}

.nav_left {
	padding-left: 1.25rem;
}

.nav_right {
	padding-right: 1.25rem;
}

nav h1, nav h2 {
	color: white;
	font-size: 1.5rem;
}


.nav_center h2 {
	text-align: center;
}
/*I need to adjust the nav bar position for the to be more responsive and also resize because it 
doesn't work on all phones. also in the @media maybe just change the layout completely because
it doesn't look great on the phone screen. Maybe make a hamburger menu or something*/

/*About*/


.about {
	padding-top: 11.3125rem;
	text-align: center;
	margin-right: 1.25rem;
	margin-left: 1.25rem;

}

.about h1 {
	position: relative;
	margin-top: 0;
}

.about p {
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	margin-bottom: 0px;
}


/*Web pages section*/


.projects {
	text-align: center;
	margin-top: 0px;
	padding-bottom: 3.125rem;
	margin-right: 1.25rem;
	margin-left: 1.25rem;
	background-color: lightgray;
	margin-bottom: 1.625rem;
}

.white-space {
	padding-top: 7.15625rem;
	background-color: white;
}

.projects h3 {
	margin-top: 2.5rem;
}

.projects a:hover {
	text-decoration: none;
	color: white;
}

.projects h2 {
	background-color: dimgray;
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}

.projects p {
}

/*maybe make the text here a little less wide so it's not so close to the edge of the screen*/

/*Js projects*/

.number {
	width: 18.64625rem;
	text-align: center;
}

.black-jack {
	display: flex;
	justify-content: space-evenly;
}

.blackj h2, .blackj h3, .blackj p {
	text-align: center;
}

.playerhand, .dealer-hand {
	width: 8.125rem;
	height: 6.25rem;
	text-align: center;
}

/*come back to this, I can't git rid of the margin on the right, dev tools shows there is one
but then also says 0 margin and wont let me change it oh wait i think i had that issue, it's
because, if I'm remembering right, it's a block level element so takes up the whole horizontal*/


.playerhand {
	display: inline;
	margin-right: 0px;
	margin-left: 0px;
	height: 9.375rem;
}

#newtext {
	text-align: center;
	
}

.dealer, .score, #playerhand {
	width: 25rem;
	max-width: 25rem;
	height: 15rem;
	max-height: 15rem;

}

.dealer{
	margin-left: 6.25rem;
}

#playerhand {
	margin-right: 6.25rem;
	position: relative;
}

.dealer-hand {
	display: inline;
	margin-left: 0px;
	margin-right: 0px;
}

.scorenumber {
	display: flex;
	justify-content: center;
}

.dealerscore {
	margin-right: 5%;
}

.playerscore {
	margin-left: 5%;
}

.sumwrap {
	display: flex;
	justify-content: center;
}

.cardvalue {
	position: absolute;
	top: 8.75rem;
	
}
	/*the above isn't positioned right when theres a sum2 value*/
	/*fixed it with a positioning container. This is probably why so many pages have shit
	tons of divs nested inside of eachother. This and other things like it
	I'm thinking I maybe could've just made the width 100% and then did text allign center or something
*/

.buttons {
	text-align: center;
	position: absolute;
	width: 50%;
	left: 25%;
	top: 83.33333333%;


}
/*The buttons need to be resized for mobile and also maybe the whole area resized because
it's pretty squished right now on mobile. I might do that after i replace the text with
pictures of the cards though*/


/*when zoomed in or emulating a phone the buttons are shifted to the right from the center
of the area that it's in*/

/*the scores need to be shifted so that they are in line horizontally and not vertically*/



/*I need to get the buttons to stay at the bottom of the page. I could make
the position fixed or absolute but then I'd have to manually position it centerd
and everything. I could do relitive but when the numbers and cards display it
pushes it downward. I could just have text populated from the begining. Or
maybe I could use js to change the value from relitive to static after the
start game button is pressed the first time I feel like theres probably another
way. idk though I'll think about it.*/

/*Footer*/


footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: dimgray;
	height: 13.75rem;
	position: relative;
}

/*The email is squished to close to the message box at mobile scale*/


footer p {
	color:  white;
}

.leave-message {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 1.25rem;
}

/*the enter name and emails width grows and shinks out of proportion with the message box
as you zoom*/

footer form {
	margin-bottom: 1.25rem;
}

.labels {
	display: block;
}

footer form label {
	color: white;
}

footer form textarea {
	margin-top: 5px;
}

@media only screen and (max-width: 520px) {
	html, body {width: auto!important; overflow-x: hidden!important}
	.buttons {top: 30%;}
	footer {
		flex-direction: column;
		justify-items: center;
		align-items: center;
		align-content: center;
		justify-content: center;
		height: 500px;
	}
	footer form label, footer form textarea{max-width: 50%;
		max-height: 50%;} 
		footer p {max-width: 30%;
			}
		.about, .projects {margin-left: 0px;
			margin-right: 0px;}
			.email {order: 1;
				width: 200px;
				text-align: center;}
	.contact {text-align: center;}
	.leave-message {justify-content: center;
		align-items: center; justify-items: center;
		align-content: center;}
		.emailcontainer {
			order: 1;
			display: flex;
			justify-content: center;
		}
		.email2 {
			text-align: center;
			position: relative;
			right: 150%;


		}
		textarea {
			width: 50.5em;
			margin-bottom: 0px;
		}

		footer form {
			margin-bottom: 0px;
		}
	}
	/*I have no idea at the moment how to get this to work tbh. the send me an email part
	randomely uncenterd itself and I can't get my email to actually line up at the bottom
	of the page. it's because it's all one line. I'm thinking I could put forrestvanduen1
	in a span and then in the media query put a break between the email and the span. That
	might work*/

}

/*I should make another one to adjust it for smaller 

/*add white space between footer and game later. */
