 
* {

}

body {
	overflow-x: hidden;
	margin: 0;
}

nav {
	display: flex;
	position: fixed;
	z-index: 1;
	background-color: white;
	top: 0;
	width: 100%;
	justify-content: space-between;
}


a {
	cursor: pointer;
	color: black;
	text-decoration: none;
}

a:hover {
	color: lightblue;
}

.navleft {
	margin-left: 14px;
}

.navright {
	display: flex;
	justify-content: end;
	margin-right: 14px;
}

.navright h3 {
	margin-left: 10px;
}

.herobackground {
	background-image: url(../images/reflect.jpg);
	height: 100%;
	position: relative;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.herocontent {
	position: relative;
	top: 68.0555555555555555%;
	color: white;
	text-shadow: black;
	text-shadow: 3px 3px black;
}

.reflect {
	position: relative;
	bottom: 310px;
	left: 1100px;
	font-size: 40px;
	font-family: "Parisienne";
}

.words {
	position: relative;
	left: 20px;
	font-family: "Caveat";
}

.container {
	display: flex;
	justify-content: center;
	height: 720px;
}

article {
	width:1000px;
	text-align: center;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	
}

article h1, article p {
	
}

